<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student View</title>
    <script>
        function f_list() {
            location.href = "/student/list";
        }
        function f_modify() {
            var seq = [[${student.seq}]]
            location.href = "/student/modify/"+seq;
        }
    </script>
    <style>
        table, tr, th, td {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div th:include="header :: header"></div>

    <h1>Student View</h1>

    <div>
        <p>Seq : <span th:text="${student.seq}"></span></p>
        <p>Name : <span th:text="${student.age}"></span></p>
        <p>Grade : <span th:text="${student.grade}"></span></p>
        <p>Age : <span th:text="${student.age}"></span></p>
        <p>Hobby : <span th:text="${student.hobby}"></span></p>
    </div>

    <hr />

    <button onclick="f_modify();">수정하기</button>
    <button onclick="f_list();">목록</button>

    <div th:include="footer :: footer"></div>
</body>
</html>