<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Student List</title>
    <script>
        function f_submit() {
            var form = document.getElementById("studentForm");
            form.submit();
        }
        function f_list() {
            location.href = "/student/list";
        }
    </script>
    <style>
        table, tr, th, td {
            border: 1px solid #000;
        }
    </style>
</head>
<body>
    <div th:include="header :: header"></div>

    <h1>Student Form</h1>
    <hr />

    <form id="studentForm" role="form" th:action="@{'/student/modify'}" th:method="post">
        <input type="hidden" th:name="seq" th:id="seq" th:value="${student.seq}" />
        <table>
            <tbody>
                <tr>
                    <th>Name : </th>
                    <td><input type="text" th:name="name" th:id="name" th:value="${student.name}" /></td>
                </tr>
                <tr>
                    <th>Grade : </th>
                    <td><input type="text" th:name="grade" th:id="grade" th:value="${student.grade}" /></td>
                </tr>
                <tr>
                    <th>Age : </th>
                    <td><input type="text" th:name="age" th:id="age" th:value="${student.age}" /></td>
                </tr>
                <tr>
                    <th>Hobby : </th>
                    <td>
                        <input type="text" th:name="hobby" th:id="hobby" th:each="hobby : ${student.hobby}" th:value="${hobby}" />
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <hr />

    <button onclick="f_submit()">수정</button>
    <button onclick="f_list()">목록</button>

    <div th:include="footer :: footer"></div>
</body>
</html>